<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>MyCart | Drone</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body id="page-top">
    
    <%- include('partials/userHeader') %>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="drone-tail">
            </div>
            <div class="text-start">
                <h4>My Shipping Cart</h4>
            </div>
            <div class="d-flex my-3">
                <div style="width: 40%; background-color: #989ca173; border: 2px solid #000; border-radius: 5px; padding: 5px;">
                    Item
                </div>
                <div style="width: 20%; background-color: #989ca173; border: 2px solid #000; border-radius: 5px; padding: 5px;">
                    Item Price
                </div>
                <div style="width: 20%; background-color: #989ca173; border: 2px solid #000; border-radius: 5px; padding: 5px;">
                    Quantity
                </div>
                <div style="width: 20%; background-color: #989ca173; border: 2px solid #000; border-radius: 5px; padding: 5px;">
                    Price
                </div>
            </div>
            <% if (myCarts.length > 0) { %>
            <% myCarts.forEach(function(myCart) { %>
            <div class="row">
                <div class="d-flex my-3" style="background-color: #989ca173;border: 2px solid #000; border-radius: 5px; padding: 25px 5px;">
                    <div class="d-flex justify-content-center align-items-center" style="width: 5%; font-size: 24px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="<%= myCart._id %>" value="">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 35%;">
                        <%= myCart.product?.name %>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 20%;">
                        <%= myCart.product?.price %>
                    </div>
                    <div class="d-flex justify-content-center align-items-center" style="width: 15%;">
                        <div class="cart_quantity_button d-flex justify-content-center">
                            <a href="javascript:void(0);" class="cart_quantity_up" href=""> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" value="<%= myCart.quantity %>" autocomplete="off" size="2">
                            <a href="javascript:void(0);" class="cart_quantity_down" href=""> - </a>
                        </div>
                    </div>
                    <div style="width: 15%;" class="total-price">
                        <%= parseFloat(myCart.quantity) * parseFloat(myCart.product?.price) %>
                    </div>
                    <div style="width: 10%;">
                        <a href="javascript:void(0);" class="cart-delete btn btn-primary btn-sm" data-id="<%= myCart._id %>">
                            <i class="fa fa-times"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
            <% }) %>
            <div class="d-flex justify-content-between">
                <a href="/shop/items" class="btn btn-primary">Continue shopping</a>
                <button type="button" id="checkout_btn" class="btn btn-primary">Check out</button>
            </div>
            <% } else { %>
                <div style="height: 100px; padding: 20px;">
                    <div class="text-center">
                        There is no Data
                    </div>
                </div>
                
            <% } %>
        </div>

        <%- include('partials/footer') %>
    </header>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/js/scripts.js"></script>
    <script src="/js/notify.min.js"></script>
    <script>
        const myCartData = `<%- JSON.stringify(myCarts) %>`;
        $(document).on('click', '.cart_quantity_up', function(e) {
            var input = this.parentNode.querySelector('.cart_quantity_input');
            var totalPricetag = this.parentNode.parentNode.parentNode.querySelector('.total-price');
            
            var currentValue = parseInt(input.value);
            var price = parseInt($(totalPricetag).text().trim()) / currentValue;

            if (currentValue >= 1) {
                input.value = currentValue + 1;
                $(totalPricetag).text(price * input.value);
            }
        });
        $(document).on('click', '.cart_quantity_down', function(e) {
            var input = this.parentNode.querySelector('.cart_quantity_input');
            var totalPricetag = this.parentNode.parentNode.parentNode.querySelector('.total-price');
            var currentValue = parseInt(input.value);
            var price = parseInt($(totalPricetag).text().trim()) / currentValue;
            if (currentValue > 1) {
                input.value = currentValue - 1;
                $(totalPricetag).text(price * input.value);
            }
        });
        $("#checkout_btn").on('click', function(e) {
            var checkedD = { checkedIds: [], quantity: [] };
            var checkedIds = [];
            $('input[type="checkbox"]:checked').each(function() {
                var id = $(this).attr('id');
                var quantityInput = this.parentNode.parentNode.parentNode.querySelector('.cart_quantity_input');
                checkedD.checkedIds.push(id); 
                checkedD.quantity.push($(quantityInput).val().trim()); 
            });
            const checkoutData = [];
            if (checkedD.checkedIds.length > 0) {
                for (var i = 0; i < checkedD.checkedIds.length; i++) {
                    for (const myC of JSON.parse(myCartData)) {
                        if (myC._id === checkedD.checkedIds[i]) {
                            let temp = {
                                product: myC.product._id,
                                quantity: parseFloat(checkedD.quantity[i]),
                                totalPrice: parseFloat(checkedD.quantity[i]) * parseFloat(myC.product.price),
                                cart: myC._id,
                                user: myC.user._id
                            }
                            checkoutData.push(temp);
                        }
                    }
                }

                let postCheckoutData = {
                    cartIds: checkedD.checkedIds,
                    checkoutData: checkoutData
                }
                $.ajax({
                    url: '/mycart/checkout',
                    type: 'POST',
                    data: {
                        postCheckoutData: JSON.stringify(postCheckoutData),
                    },
                    success: function (result) {
                        if (result.status == "success") {
                            $.notify(result.message, "success");
                        } else {
                            $.notify(result.message, "error");
                        }
                        location.reload();
                    },
                });
            }

        });
        $(document).on('click', '.cart-delete', function(e) {
            const cartId = $(this).data('id');
            console.log(cartId)
            $.ajax({
                url: '/mycart/delete',
                type: 'POST',
                data: {
                    cartId: cartId
                },
                success: function (result) {
                    if (result.status == "success") {
                        $.notify(result.message, "success");
                    } else {
                        $.notify(result.message, "error");
                    }
                    location.reload();
                },
            });
        });
        
    </script>
</body>

</html>